html {
    box-sizing: border-box;
  }
  *,*::before,*::after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
  }
  .wave-container {
    background: #000	;
  }
  .wave-container > svg {
    display: block;
  }
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
  }
  .wave-container {
    position: relative;
    background: #000;
    color: #FFF;
    text-align: center;
    overflow: hidden;
  }
  h1 {
    font-size: 3rem;
    margin: 7rem 1.25rem 2.5rem 1.25rem;
  }
  h2 {
    font-family: 'Arvo', serif;
    color: #0276FD;
    font-size: 2rem;
    margin: 3rem 1.25rem 3rem 1.25rem;
  }
  h3 {
    font-family: 'Arvo', serif;
    color: #000;
    font-size: 1.5rem;
    margin: 3rem 1.25rem 3rem 1.25rem;
  }
  p {
    font-family: Rockwell, "Courier Bold";
    font-size: 1.25rem;
    margin: 0 1rem 5rem 1.25rem;
  }
  @keyframes animateWave {
    0% {
      transform: scale(1,0);
    }
    100% {
      transform: scale(1,1);
    }
  }
  .wave-container > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 7000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }
  .wave-container1 {
    background: #000	;
  }
  .wave-container1 > svg {
    display: block;
  }
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
  }
  .wave-container1 {
    position: relative;
    background: rgb(255, 255, 255);
    color: #FFF;
    text-align: center;
    overflow: hidden;
  }
  h1 {
    font-size: 3rem;
    margin: 7rem 1.25rem 2.5rem 1.25rem;
  }
  h2 {
    font-family: 'Arvo', serif;
    color: #000;
    font-size: 2rem;
    margin: 3rem 1.25rem 3rem 1.25rem;
  }
  h3 {
    font-family: 'Arvo', serif;
    color: #000;
    font-size: 1.5rem;
    margin: 3rem 1.25rem 3rem 1.25rem;
  }
  p {
    font-family: Rockwell, "Courier Bold";
    font-size: 1.25rem;
    margin: 0 1rem 5rem 1.25rem;
  }
  @keyframes animateWave {
    0% {
      transform: scale(1,0);
    }
    100% {
      transform: scale(1,1);
    }
  }
  .wave-container1 > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 12000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
img{
  border: 3px solid #0276FD;
}
nav {
  width: 100%;
  margin: 0;
}

nav ul {
  background-color: #000;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.topnav li {
  list-style: none;
  float: left;
}

ul.topnav li.toplogin {
  float: left;
}

ul.topnav li.topsignup {
  float: left;
}

ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: white; 
  font-family: 'Ubuntu', sans-serif;
}

ul.topnav li a:hover {
  background-color: #0276FD;
  color: white;
}

ul.topnav li.dropdownicon {
  display: none;

}
  

@media screen and (max-width: 680px) {
  ul.topnav li:not(:nth-child(1)) {
    display: none;
  }

  ul.topnav li.dropdownicon {
    display: block;
    float: right;
  }

  ul.topnav.responsive li.dropdownicon {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li {
    display: inline;
    float: none;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
